/* @group Units */
.unit:after, .group:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.unit, .group { display: inline-block; }
* html .unit, * html .group { height: 1%; }
.unit, .group { display: block; }
/* @end */

/* @group Skiplinks */
#skip-links {
    /* Hide, but not from screen-readers */ 
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
}
/* @end */
body {
    color: #42413b;
    background: #ffffff;
    font-size: 100%; /* 14px */
    line-height: 1.57; /* 22px */
    -webkit-font-smoothing: antialiased;
}
pre {
    border: none;
}
h1,h2,h3 {
    color: #3E3D38;
    font-weight: bold;
    letter-spacing: -1px;
}
h4,h5,h6,h1 strong,h2 strong,h3 strong,h4 strong,h5 strong,h6 strong {
    color: #3E3D38;
}

#container {
    width: 90%;
    margin: auto;
    background: #ffffff;
}

a { 
    text-decoration: none;
    -webkit-transition: color 0.1s linear;
}
a:visited {
    color: #c93968;
}
a:hover {
    color: #E60000;
}
a:active {
    color: #7979a7;
}

#beta {
    color: #929292;
    vertical-align: super;
    font-size: .7em;
}

#premise {
    margin-top: 25px;
    margin-bottom: 5px;
    width: 80%;
}

#primary-content {
    margin-top: 25px;
    margin-bottom: 25px;
    padding-top: 25px;
    padding-bottom: 25px;

}

.inputform {
    margin: 5px;
}

input {
    font-family: inherit;
}      

input.text {
    background: white;
    border: 1px solid #cccccc;
    border-bottom-color: #999999;
    border-right-color: #999999;
    color: black;
    font: 18px arial, sans-serif bold;
    height: 25px;
    margin: 0;
    padding: 5px 8px 0 6px;
    vertical-align: top;
}

input.text:focus {
  outline: none;
}

#search {
    width: 40%;
}

#result {
   max-width: 90;
   display: block;
}
#result-original-address {
    padding: 5px 30px;
    max-width: 25%;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: none;
    background-color: #FF0033;
    border-radius: 4px;
    display: inline-block;
}

#result-new-address {
    padding: 5px 30px;
    max-width: 25%;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: none;
    background-color: #FFFF33;
    border-radius: 4px;
    display: inline-block;
}

#result-filename {
    padding: 5px 30px;
    max-width: 25%;
    width: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: none;
    background-color: lightgreen;
    border-radius: 4px;
    display: inline-block;
}

#github { 
  float: right;
  margin-top: -3em;
}

#github-ribbon-right {
  float: right;
}

@media all and (max-width: 560px) {
    #github-ribbon-right {
        display: none;
    }
}

.button_wrapper {
  border-bottom: 1px solid #e7e7e7;
  border-right: 1px solid #e7e7e7;
  display: inline-block;
  margin: 3px 0 4px 4px;
}

.button_wrapper .inner {
  background: none repeat scroll 0 0 #eeeeee;
  border-color: #cccccc #999999 #999999 #cccccc;
  border-width: 1px;
  display: block;
  height: 30px;
}

#license-text {
    display: none;
    background-color: #eeeeee;
    padding: 10px 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    display: inline-block;
}

#footer {
    background: #fff;
    width: 100%;
    font-size: 80%; /* 12px */
    border-top: 1px solid #D6D6D6;
    padding: 1em 0;
    bottom: 0;
    float: left;
}

div.pager {
    margin: 1em 0;
}

div.pager a {
    display: inline-block;
    margin-bottom: 4px;
}

div.pager span {
    display: inline-block;
    width: 1.8em;
    height: 1.8em;
    line-height: 1.8;
    text-align: center;
    cursor: pointer;
    background: #ccc;
    color: #000;
    margin-right: 0.5em;
}

div.pager span.active {
    background: #c00;
}

#sbn_found {
    padding: 5px 30px;
    width: auto;
    border: none;
    background-color: #A6FFAD;
    border-radius: 4px;
    display: inline-block;
}

#sbn_not_found {
    padding: 5px 30px;
    width: auto;
    border: none;
    background-color: #FF9E9E;
    border-radius: 4px;
    display: inline-block;
}

table {
    position: relative;
    vertical-align: middle;
}

th {
    vertical-align: middle;
    position: relative;
    line-height: 1.2em;
    height: 50px;
}

th.ordered {
    background-color: #C7D1DE;
}

th .sorticon {
    position: absolute;
    top: 2px;
    right: 5px;
}

th .sorticon a {
    width: 22px;
    height: 22px;
    margin: 2px;
    padding: -1px;
    display: block;
    /*border: solid 1px #000;*/
}

th .sorticon a.asc {
    background: url(../images/sort_s.png) no-repeat;
    background-position: 1px 1px;
}

th .sorticon a.desc {
    background: url(../images/sort_s.png) no-repeat;
    background-position: 1px -24px;
}

th .sorticon a.asc:hover {
    background-position: -31px 1px;
}

th .sorticon a.desc:hover {
    background: url(../images/sort_s.png) no-repeat;
    background-position: -31px -24px;
}

th.ordered .sorticon a.active {
    pointer-events: none;
    cursor: default;
}

th.ordered .sorticon a.asc.active {
    background-position: -63px 0px;
}

th.ordered .sorticon a.desc.active {
    background-position: -63px -24px;
}
